@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
  color: #fff;
  font-family: "Nunito", sans-serif;
  background-color: #8f2828;
  background-image: url('./assets/marvel.jpg');
  background-attachment: fixed;
  background-size: cover;
}
canvas {
  display: flex;
  position: absolute;
  width: 100%;
  height: auto;

}
#header {
  position: relative;
  height: 200px;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  justify-content: center;

}

#header img {
  border-radius: 50px;
}
#name {
  font-weight: bold;
  padding-top: 30px;
  font-size: 1.3rem;
}
#profission {
  font-weight: 400;
  padding-top: 4px;
}

#description {
  padding-top: 14px;
  font-weight: bold;
}
#content {
  padding-top: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20vh;
  padding-bottom: 30px;
}


.container .profile {
  width: 104px;
  margin-bottom: 20px;
  height: 104px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 99;
  border:2px solid white;
}

.container h2 {
  margin: 0;
  font-size: 18px;
}

.container .subtitle {
  font-size: 14px;
  color: #e3e3e3;
}

.social-media-container {
  display: flex;
  height: 65px;
  width: 223px;
  justify-content: space-around;
  align-items: center;
  background: rgba(200, 200, 255, 0.3);
  border-radius: 50px;
  position: absolute;
  top: -32px;
  left: calc(50% - 111px);
}

.social-media-container a {
  background: #eee;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-container svg {
  color: #2525DD;
  cursor:pointer;
}

.icons{
  margin: 0px 10px 0px 10px;
  color:#191970;
}

.info-container {
  
  background: rgba(255,255,255,.94);
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 0 0;
  position: relative;
  margin-top: 40px;
}

.content {
  padding: 50px 30px 20px;
  width: 100%;
  color: #1C1C1C;
  overflow: hidden;
  position: relative;
}

.playlist-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 16px;
  margin: 20px 0;
}

.playlist-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.link {
  margin: 15px auto;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bcbcbc;
  border-radius: 16px;
  text-decoration: none;
  color: #1C1C1C;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 18px -5px rgba(100, 100, 200, 0.72);
  -moz-box-shadow: 4px 4px 18px -5px rgba(100, 100, 200, 0.72);
  box-shadow: 4px 4px 18px -5px rgba(100, 100, 200, 0.72);
}


#icons {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;

  align-items: center;
  border-radius: 25px;
  opacity: 0.9;
  width: 200px;
  height: 50px;
  margin-top: -50px;
  box-shadow: 6px 6px 49px 0px rgba(131,131,131,0.9);
-webkit-box-shadow: 6px 6px 49px 0px rgba(131,131,131,0.9);
-moz-box-shadow: 6px 6px 49px 0px rgba(131,131,131,0.9);
  
}
#icons i {

  margin: 10px;
  width: 30px;
  font-size: 25px;
  color: #000;
}
#titulo-video{
  width: 100%;
  font-size: 17px;
  margin-bottom: 17px;
  font-weight: bold;
  color: black ;
}
#video{
  text-align: start;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#video iframe{
  border-radius: 20px;
}

#links{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
#link1{
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: rgb(112, 16, 16);
  text-decoration: none;
  font-weight: bold;
  box-shadow: 6px 6px 49px 0px rgba(131,131,131,0.9);
-webkit-box-shadow: 6px 6px 49px 0px rgba(131,131,131,0.9);
-moz-box-shadow: 6px 6px 49px 0px rgba(131,131,131,0.9);
    
}

#link2{
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: rgb(112, 16, 16);
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: 6px 6px 49px 0px rgba(131,131,131,0.9);
  -webkit-box-shadow: 6px 6px 49px 0px rgba(131,131,131,0.9);
  -moz-box-shadow: 6px 6px 49px 0px rgba(131,131,131,0.9);
    
}